<div calss='row'>
    <div class=''>
        <h1>Waiter App</h1>
        <hr>
    </div>
</div>
<form action='/waiter/{{waiter_name}}' method='post'>
    <div class="offset-4">
        <p>
            <span class='caps'>{{waiter_name}}</span>
            {{#if messages.info}}
                {{messages.info}}
            {{/if}}
        </p>
    </div>
    <div class="row">
            <br/>
                {{#each week_days}}
                <div class='two columns '>
                <div class='label-clickable {{#if checked}}backgroundGrey{{/if}}'>
                    <input type='checkbox' value='{{id}}' name='day' {{checked}}/>{{day}}     
                  </div>
                </div>  
                  {{/each}} 
    </div>
    <hr/>
     <div>
        <button class="btn btn-primary" type="submit" >Submit</button>
        
    </div>
</form>
